{% extends "::base.html.twig" %}

{% block title %}PregunteMePresentacionBundle:Web:evaluacion{% endblock %}

{% block body %}

<style>
.dimension{
	border:1px solid gray;
	padding:10px;
	margin:10px;
}
.pregunta{
	border:1px solid gray;
	padding:10px;
	margin:10px;
}
.respuesta{
	border:1px dotted gray;
	padding:10px;
	margin:10px;
}

.respuesta:hover {
    background-color: lightgreen;
} 

</style>


<h1>Evaluación de calidad de un {{app.session.get('modulo')}}</h1>


{% set coma = ""%}
{% set contadorD = 0 %}
{% for dimension in dimensiones %}
	<div class="dimension" id="dimension_{{contadorD}}">
		<h1>{{dimension.nombre}}</h1>
		
		{% set contadorC = 0 %}
		{% for categoria in dimension.categorias %}
			<div class="categoria" id="categoria_{{contadorC}}">
			<h2>{{categoria.nombre}}</h2>
			{#<p>{{categoria.descripcion}}</p>#}
			
			{% set contadorI = 0 %}
			{% for indicador in categoria.indicadores %}
				
				{% for nivel in indicador.niveles %}
				
					{% for pregunta in nivel.preguntas %}
						<div class="pregunta">
							<div class="texto">{{pregunta.texto}}</div>
							{% for respuesta in pregunta.respuestas %}
								<div class="respuesta">{{respuesta.texto}}</div>
							{% endfor %}
						</div>
				
				
					{% endfor %}
				
				{% endfor %}
			
			
				{% set contadorI = contadorI + 1 %}
			{% endfor %}
			
			</div>

			{% set contadorC = contadorC + 1 %}
		{% endfor %}
		
	</div>
	{% set contadorD = contadorD + 1 %}
{% endfor %}

<script>
	var preguntas=[{#{ info }#}];
</script>



{% endblock %}
