{% extends "::base.html.twig" %}

{% block title %}PregunteMePresentacionBundle:Web:resultados{% endblock %}

{% block body %}


<h1>Historico de Evaluaciones de calidad de un {{app.session.get('modulo')}}</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
	<td>Id</td>
	<td>Módulo</td>
	<td>Usuario</td>
	<td>Institucion</td>
	<td>Objeto</td>
	<td>Fecha</td>
	<td>Detalles</td>
{% for caso in casosEstudio %}

	<tr>
		<td>{{caso.id}}</td>
		<td>
			{% if caso.respuestas| length>0 %}
				{{caso.respuestas[0].pregunta.nivel.indicador.categoria.dimension.modulo.nombre}}
			{% endif %}
		</td>
		<td>{{caso.usuario.user}}</td>
		<td>{{caso.institucion}}</td>
		<td>{{caso.nombreObjeto}}</td>
		<td>{{caso.fecha|date("Y-m-d h:i")}}</td>
		<td><a href="{{path("resultados", {id:caso.id})}}">Ver detalles</a></td>
	</tr>
{% endfor %}
</table>
{% endblock  %}
